# .env
POSTGRES_PASSWORD=password
WEBUI_SECRET_KEY=4150e3980d317e79cb92bc5c85214b00c077e82c40acdb050f735aa31d8ed5a1
OPENROUTER_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HF_TOKEN = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx